In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [2]:
arr = np.random.randint(0,100,(10,2))

In [10]:
arr

array([[55, 52],
       [71, 70],
       [13, 33],
       [82, 90],
       [68, 37],
       [85, 69],
       [ 9, 28],
       [50, 28],
       [29, 96],
       [ 5, 52]])

In [13]:
scaler=MinMaxScaler()

In [14]:
arr.max()

96

In [15]:
arr.min()

5

In [16]:
scaler.fit(arr)

c:\users\santo\anaconda3\envs\venv\lib\site-packages\sklearn\utils\validation.py:590: DataConversionWarning: Data with input dtype int32 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

MinMaxScaler(copy=True, feature_range=(0, 1))

In [17]:
scaler.transform(arr)

array([[0.625     , 0.35294118],
       [0.825     , 0.61764706],
       [0.1       , 0.07352941],
       [0.9625    , 0.91176471],
       [0.7875    , 0.13235294],
       [1.        , 0.60294118],
       [0.05      , 0.        ],
       [0.5625    , 0.        ],
       [0.3       , 1.        ],
       [0.        , 0.35294118]])

In [30]:
df = pd.DataFrame(data=np.random.randint(0,50,(10,5)),columns=['f1','f2','f3','f4','res'])

In [31]:
df

   f1  f2  f3  f4  res
0  32  24  37  41   13
1  33  40   7  18   17
2  27  47  26   7   14
3  22  13  41  12    0
4  17   4  20  33    2
5  40  37  23  32   11
6  15   2  44  37   48
7  14  46  14  34   14
8  27  15  23   8   45
9   6  17  48  10    1

In [32]:
df.head(2)

   f1  f2  f3  f4  res
0  32  24  37  41   13
1  33  40   7  18   17

In [33]:
x = df[['f1','f2','f3','f4']]

In [34]:
y= df[['res']]

In [35]:
y

   res
0   13
1   17
2   14
3    0
4    2
5   11
6   48
7   14
8   45
9    1

In [36]:
from sklearn.model_selection import train_test_split

In [37]:
X_train, X_test, y_train, y_test = train_test_split(x,y,test_size=0.3,random_state=101)

In [39]:
X_train.shape

(7, 4)

In [40]:
X_test.shape

(3, 4)

In [41]:
y_train.shape

(7, 1)

In [42]:
y_test.shape

(3, 1)